.mainnav
  padding 0.624em 1.4em 0
  background-color #fff
  position fixed
  top 0
  width 100%
  box-sizing border-box
  z-index 3
  box-shadow 0 1px 1px rgba(0, 0, 0, 0.15)

  &__title,
  &__ul
    display inline-block
    margin 0

  &__venopi
    width 110px

  &__ul
    float right