.results
  margin-top 5em
  padding 0 24px

  @media screen and (min-width: 64em)
    display flex

  &__promos
    background #fff
    margin-bottom 24px

    @media screen and (min-width: 64em)
      width calc(70% - 24px)
      margin-right 24px

  &__aside
    @media screen and (min-width: 64em)
      width 30%
      margin-left 1px