.inventory
  &.hidden
    opacity 0
    visibility hidden
    z-index -1
    overflow hidden
    height 0

  input:not([type=submit]):not([type=file]),
  textarea,
  select
    width 100%
    font-size 14px
    font-family 'work_sans'
    padding 8px

  &:before
    content ''
    display block
    position fixed
    background-color rgba(0, 0, 0, 0.4)
    width 100%
    height 100vh
    top 0
    left 0
    z-index -1
    opacity 0
    visibility hidden
    transition opacity 0.2s

  &-wrap
    padding 24px
    background-color #fff

  &-edit
    padding 10px
    background #f5f5f5
    margin-top 10px
    overflow hidden
    clear both
    margin-top 10px

    &__subtitle
      margin 0 0 10px
      font-weight 600
      font-size 18px
      text-transform uppercase

    &__multiple
      border solid 1px #d8d8d8
      border-radius 2px
      margin-bottom 4px
      > input:not([type=submit]):not([type=file]),
      > select
        width calc(100%/3)
        border 0

        &:not(:first-child)
          border-left solid 1px #d8d8d8

    &__single-input
      margin-bottom 4px

    &__btn
      float right

    &__btn-rm
      color #fff
      background-color #af0000
      height 25px
      padding 7px 10px 8px
      float right

      &:hover
        background-color #790c0c

  &.visible
    position fixed
    z-index 2

    .inventory-wrap
      z-index 3
      position fixed
      top 80px
      width 80%
      height 80vh
      left 50%
      overflow auto
      transform translateX(-50%)
      box-shadow 0 0 2px rgba(0, 0, 0, 0.15)

    &:before
      opacity 1
      visibility visible
      z-index 2

  &__title
    margin-top 0
    font-size 18px
    font-weight 600
    text-transform uppercase
    float left
    line-height 30px

  &__logout,
  &__toggle
    position fixed
    top 10px
    z-index 3

  &__logout
    right 359px

  &__toggle
    width 160px
    right 195px
    text-align center
    background-color #4747DA

    &:hover
      background-color #2E2E9B

  &__btn-load
    background-color #6666ff
    float right

    &:hover
      background-color #2E2E9B

  &__owner-err
    padding 14px
    margin-bottom 24px
    background-color #ffe0e0

    &__p
      margin 0 0 14px