.login
  padding 1em
  background-color #fff

  &__title
    font-size 18px
    font-weight 600
    text-transform uppercase
    margin-top 0

  &__facebook,
  &__twitter,
  &__github
    display block
    text-align center
    margin-top 4px

  &__twitter
    background-color #1da1f2
    &:hover
      background-color #324F89

  &__facebook
    background-color #4267b2
    &:hover
      background-color #253B67

  &__github
    background-color #5d5d5d
    &:hover
      background-color #323232