.mainheader
  text-align center
  padding 24px 0

  &__title
    margin 0
    text-transform uppercase

  &__tagline
    margin 0
    position relative
    font-family georgia
    font-style italic
    font-size 16px
    color #9c9c9c
    font-weight 400

    &:before,
    &:after
      content ''
      display inline-block
      position absolute

    &:before
      width 100%
      height 1px
      background-color #d8d8d8
      top 9px
      left 0

    &__text
      background-color #fff
      padding 0 14px
      position relative
      font-weight 200
      text-transform lowercase