.order
  font-size 14px
  background-color #fff
  padding 1em
  box-sizing border-box
  margin-bottom 24px

  @media screen and (min-width: 64em)
    width calc(30% - 15px)
    position fixed
    right 24px
    bottom 0

  &-ul
    overflow hidden

  &__title
    margin 0 0 10px
    font-size 16px
    font-weight 600
    text-transform uppercase

  &__total
    margin-top 10px
    padding 8px 0 0
    border-top solid 1px #d8d8d8
    position relative

  &-item
    padding 4px 76px 4px 0
    position relative

    &.order-enter
      transition all 0.5s
      transform translateX(-120%)
      max-height: 0
      padding: 4px 0

      &-active
        transform translateX(0)
        max-height: 24px

    &.order-leave
      transition all 0.5s
      transform translateX(0)

      &-active
        transform translateX(120%)

    &__remove
      background-color #d76868
      color #fff
      font-size 8px
      display inline-block
      height 16px
      width 16px
      text-align center
      box-sizing border-box
      margin-left 4px
      line-height 18px
      padding 0 4px
      border-radius 50%
      opacity 0
      cursor pointer
      position absolute
      right 60px
      top 3px
      transition opacity 0.2s

    &:hover .order-item__remove
      opacity 1

  &__total-amount,
  &-item__price
    position absolute
    width 60px
    right 14px
    text-align right

  &-item__price
    right 0

  &-item__count
    width 40px
    display inline-block