.venue-picker
  max-width: 800px
  padding 1.4em
  background-color #fff
  box-sizing border-box
  z-index 3
  box-shadow 0 0 5px rgba(0, 0, 0, 0.6)
  position relative

  input:not([type=submit]):not([type=file])
    padding 10px 14px

  @media screen and (min-width: 40em)
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    min-width 38em
    margin 0

  &__title
    font-weight 600
    text-align center
    text-transform uppercase
    position relative
    margin 0 0 0.5em

    &:before
      content ''
      display block
      width 100%
      height 1px
      background-color #d5d5d5
      position absolute
      top 20px

  &__about
    padding 1em
    background-color #f5f5f5

  &__p
    margin 0
    line-height 1.4

  &__subtitle
    text-transform uppercase
    font-size 18px
    font-weight 600
    margin 0 0 0.5em

  &__tag
    display inline-block
    font-size 16px
    font-weight 200
    font-family georgia
    font-style italic
    text-transform lowercase
    color #9c9c9c
    background-color #fff
    padding 0 14px
    position relative
    z-index 1

  &-wrapper
    position relative
    height 100vh
    padding 8em 1em 0

    @media screen and (min-width: 40em)
      padding 0

    &:before
      content ''
      display block
      width 100%
      height 100%
      position absolute
      top 0
      left 0
      z-index 2

    &:before
      background-image linear-gradient(to top right, rgba(89, 51, 46, 0.50), rgba(30, 129, 131, 0.90))

  &__img
    position fixed
    z-index 1

  &__form
    text-align center
    margin-bottom 1em
    overflow hidden

  &__input
    width 100%
    @media screen and (min-width: 40em)
      width calc(100% - 170px)
      float left
      border-radius 3px 0 0 3px

  &__btn
    height 40px
    margin-top 10px
    @media screen and (min-width: 40em)
      width 170px
      float left
      border-radius 0 3px 3px 0
      margin 0


