@require '_fonts'

body,
html
  font-size 16px
  font-family 'work_sans', sans-serif
  margin 0
  padding 0
  background #f5f5f5
  height 100%
  overflow-x hidden

strong
  font-weight 600

a
  text-decoration none
  color #A9C368
  display inline-block

.btn
  background-color #A9C368
  color white
  cursor pointer
  padding 9px 14px 8px
  border-radius 3px
  transition background 0.2s
  border 0
  font-size 13px
  text-transform uppercase
  letter-spacing 0.8px
  line-height 1
  height 30px
  box-sizing border-box

  &:hover
    background-color #829652

  &--logout
    background-color #5D5D5D

    &:hover
      background-color #323232

.h-clearlist
  list-style none
  padding 0
  margin 0

@require '_mainnav'
@require '_form'
@require '_results'