@font-face {
  font-family: 'work_sans';
  src: url("../fonts/worksans-regular.woff2") format('woff2'), url("../fonts/worksans-regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'work_sans';
  src: url("../fonts/worksans-semibold.woff2") format('woff2'), url("../fonts/worksans-semibold.woff") format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'work_sans';
  src: url("../fonts/worksans-bold.woff2") format('woff2'), url("../fonts/worksans-bold.woff") format('woff');
  font-weight: 800;
  font-style: normal;
}
