input:not([type=submit]):not([type=file]),
textarea {
  border: solid 1px #d8d8d8;
  font-size: 16px;
  padding: 6px 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
select {
  border-radius: 0;
  height: 32px;
  font-size: 14px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: solid 1px #d8d8d8;
  background-color: #fff;
  padding: 0 6px;
}
