.mainnav {
  padding: 0.624em 1.4em 0;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 3;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
          box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}
.mainnav__title,
.mainnav__ul {
  display: inline-block;
  margin: 0;
}
.mainnav__venopi {
  width: 110px;
}
.mainnav__ul {
  float: right;
}
