.results {
  margin-top: 5em;
  padding: 0 24px;
}
@media screen and (min-width: 64em) {
  .results {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.results__promos {
  background: #fff;
  margin-bottom: 24px;
}
@media screen and (min-width: 64em) {
  .results__promos {
    width: calc(70% - 24px);
    margin-right: 24px;
  }
}
@media screen and (min-width: 64em) {
  .results__aside {
    width: 30%;
    margin-left: 1px;
  }
}
