.inventory.hidden {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  overflow: hidden;
  height: 0;
}
.inventory input:not([type=submit]):not([type=file]),
.inventory textarea,
.inventory select {
  width: 100%;
  font-size: 14px;
  font-family: 'work_sans';
  padding: 8px;
}
.inventory:before {
  content: '';
  display: block;
  position: fixed;
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.inventory-wrap {
  padding: 24px;
  background-color: #fff;
}
.inventory-edit {
  padding: 10px;
  background: #f5f5f5;
  margin-top: 10px;
  overflow: hidden;
  clear: both;
  margin-top: 10px;
}
.inventory-edit__subtitle {
  margin: 0 0 10px;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}
.inventory-edit__multiple {
  border: solid 1px #d8d8d8;
  border-radius: 2px;
  margin-bottom: 4px;
}
.inventory-edit__multiple > input:not([type=submit]):not([type=file]),
.inventory-edit__multiple > select {
  width: calc(100% / 3);
  border: 0;
}
.inventory-edit__multiple > input:not([type=submit]):not([type=file]):not(:first-child),
.inventory-edit__multiple > select:not(:first-child) {
  border-left: solid 1px #d8d8d8;
}
.inventory-edit__single-input {
  margin-bottom: 4px;
}
.inventory-edit__btn {
  float: right;
}
.inventory-edit__btn-rm {
  color: #fff;
  background-color: #af0000;
  height: 25px;
  padding: 7px 10px 8px;
  float: right;
}
.inventory-edit__btn-rm:hover {
  background-color: #790c0c;
}
.inventory.visible {
  position: fixed;
  z-index: 2;
}
.inventory.visible .inventory-wrap {
  z-index: 3;
  position: fixed;
  top: 80px;
  width: 80%;
  height: 80vh;
  left: 50%;
  overflow: auto;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.15);
          box-shadow: 0 0 2px rgba(0,0,0,0.15);
}
.inventory.visible:before {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}
.inventory__title {
  margin-top: 0;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  float: left;
  line-height: 30px;
}
.inventory__logout,
.inventory__toggle {
  position: fixed;
  top: 10px;
  z-index: 3;
}
.inventory__logout {
  right: 359px;
}
.inventory__toggle {
  width: 160px;
  right: 195px;
  text-align: center;
  background-color: #4747da;
}
.inventory__toggle:hover {
  background-color: #2e2e9b;
}
.inventory__btn-load {
  background-color: #66f;
  float: right;
}
.inventory__btn-load:hover {
  background-color: #2e2e9b;
}
.inventory__owner-err {
  padding: 14px;
  margin-bottom: 24px;
  background-color: #ffe0e0;
}
.inventory__owner-err__p {
  margin: 0 0 14px;
}
