.login {
  padding: 1em;
  background-color: #fff;
}
.login__title {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 0;
}
.login__facebook,
.login__twitter,
.login__github {
  display: block;
  text-align: center;
  margin-top: 4px;
}
.login__twitter {
  background-color: #1da1f2;
}
.login__twitter:hover {
  background-color: #324f89;
}
.login__facebook {
  background-color: #4267b2;
}
.login__facebook:hover {
  background-color: #253b67;
}
.login__github {
  background-color: #5d5d5d;
}
.login__github:hover {
  background-color: #323232;
}
