.mainnav {
  padding: 0.624em 1.3em 0;
  background-color: #fff;
}
.mainnav__title,
.mainnav__ul {
  display: inline-block;
  margin: 10px 0;
}
.mainnav__venopi {
  width: 110px;
}
.mainnav__ul {
  float: right;
}
