.mainheader {
  text-align: center;
  padding: 24px 0;
}
.mainheader__title {
  margin: 0;
  text-transform: uppercase;
}
.mainheader__tagline {
  margin: 0;
  position: relative;
  font-family: georgia;
  font-style: italic;
  font-size: 16px;
  color: #9c9c9c;
  font-weight: 400;
}
.mainheader__tagline:before,
.mainheader__tagline:after {
  content: '';
  display: inline-block;
  position: absolute;
}
.mainheader__tagline:before {
  width: 100%;
  height: 1px;
  background-color: #d8d8d8;
  top: 9px;
  left: 0;
}
.mainheader__tagline__text {
  background-color: #fff;
  padding: 0 14px;
  position: relative;
  font-weight: 200;
  text-transform: lowercase;
}
