.order {
  font-size: 14px;
  background-color: #fff;
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 24px;
}
@media screen and (min-width: 64em) {
  .order {
    width: calc(30% - 15px);
    position: fixed;
    right: 24px;
    bottom: 0;
  }
}
.order-ul {
  overflow: hidden;
}
.order__title {
  margin: 0 0 10px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
.order__total {
  margin-top: 10px;
  padding: 8px 0 0;
  border-top: solid 1px #d8d8d8;
  position: relative;
}
.order-item {
  padding: 4px 76px 4px 0;
  position: relative;
}
.order-item.order-enter {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
  max-height: 0;
  padding: 4px 0;
}
.order-item.order-enter-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  max-height: 24px;
}
.order-item.order-leave {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.order-item.order-leave-active {
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
}
.order-item__remove {
  background-color: #d76868;
  color: #fff;
  font-size: 8px;
  display: inline-block;
  height: 16px;
  width: 16px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 4px;
  line-height: 18px;
  padding: 0 4px;
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  right: 60px;
  top: 3px;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.order-item:hover .order-item__remove {
  opacity: 1;
}
.order__total-amount,
.order-item__price {
  position: absolute;
  width: 60px;
  right: 14px;
  text-align: right;
}
.order-item__price {
  right: 0;
}
.order-item__count {
  width: 40px;
  display: inline-block;
}
