.venopi-promos {
  height: 100vh;
  margin: 4.625em 0 2em;
}
.promo-list {
  padding: 18px 20px;
  position: relative;
  overflow: hidden;
}
.promo-list.unavailable:after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(255,255,255,0.6);
  position: absolute;
  top: 0;
  left: 0;
}
.promo-list:not(:first-child) {
  border-top: solid 1px #f5f5f5;
}
.promo-list p {
  margin: 0;
  font-size: 14px;
}
.promo-list__title {
  font-size: 18px;
  font-weight: 600;
  margin: 8px 0;
}
@media screen and (min-width: 40em) {
  .promo-list {
    padding: 18px 20px 18px 185px;
  }
  .promo-list__img,
  .promo-list__status,
  .promo-list__price {
    position: absolute;
  }
  .promo-list__title {
    margin-top: 0;
  }
}
.promo-list__img {
  width: 150px;
  left: 20px;
  top: 14px;
}
.promo-list__price {
  top: 16px;
  right: 16px;
}
.promo-list__status {
  display: none;
}
.promo-list__btn {
  padding: 6px 10px 5px;
  font-size: 12px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  float: right;
  margin-top: 14px;
  border: 0;
}
.promo-list__btn:disabled {
  color: #fff;
  background-color: #aaa;
}
