.results {
  max-width: 1200px;
  margin: 0 auto 24px;
  overflow: hidden;
}
.results__promos {
  width: 70%;
  background-color: #fff;
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.15);
          box-shadow: 0 0 2px rgba(0,0,0,0.15);
}
