@font-face {
  font-family: 'work_sans';
  src: url("../fonts/worksans-regular.woff2") format('woff2'), url("../fonts/worksans-regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'work_sans';
  src: url("../fonts/worksans-semibold.woff2") format('woff2'), url("../fonts/worksans-semibold.woff") format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'work_sans';
  src: url("../fonts/worksans-bold.woff2") format('woff2'), url("../fonts/worksans-bold.woff") format('woff');
  font-weight: 800;
  font-style: normal;
}
body,
html {
  font-size: 16px;
  font-family: 'work_sans', sans-serif;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  height: 100%;
  overflow-x: hidden;
}
strong {
  font-weight: 600;
}
a {
  text-decoration: none;
  color: #a9c368;
  display: inline-block;
}
.btn {
  background-color: #a9c368;
  color: #fff;
  cursor: pointer;
  padding: 9px 14px 8px;
  border-radius: 3px;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  border: 0;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  line-height: 1;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.btn:hover {
  background-color: #829652;
}
.btn--logout {
  background-color: #5d5d5d;
}
.btn--logout:hover {
  background-color: #323232;
}
.h-clearlist {
  list-style: none;
  padding: 0;
  margin: 0;
}
.mainnav {
  padding: 0.624em 1.4em 0;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 3;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
          box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}
.mainnav__title,
.mainnav__ul {
  display: inline-block;
  margin: 0;
}
.mainnav__venopi {
  width: 110px;
}
.mainnav__ul {
  float: right;
}
input:not([type=submit]):not([type=file]),
textarea {
  border: solid 1px #d8d8d8;
  font-size: 16px;
  padding: 6px 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
select {
  border-radius: 0;
  height: 32px;
  font-size: 14px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: solid 1px #d8d8d8;
  background-color: #fff;
  padding: 0 6px;
}
.results {
  margin-top: 5em;
  padding: 0 24px;
}
@media screen and (min-width: 64em) {
  .results {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.results__promos {
  background: #fff;
  margin-bottom: 24px;
}
@media screen and (min-width: 64em) {
  .results__promos {
    width: calc(70% - 24px);
    margin-right: 24px;
  }
}
@media screen and (min-width: 64em) {
  .results__aside {
    width: 30%;
    margin-left: 1px;
  }
}
